[submodule "Procedural Graph (Flax Engine)"]
	path = src/ProceduralGraph/FlaxEngine
	url = https://github.com/gamesharp/Core-Flax.git
[submodule "Procedural Graph (Unity Engine)"]
	path = src/ProceduralGraph/UnityEngine
	url = https://github.com/gamesharp/Core-Unity.git
[submodule "Procedural Graph: Terrain"]
	path = src/ProceduralGraph/Modules/Terrain
	url = https://github.com/gamesharp/Terrain.git