[submodule "Procedural Graph Flax"]
	path = FlaxEngine
	url = https://github.com/will11600/Procedural-Graph-Core.git
[submodule "Procedural Graph Unity"]
	path = UnityEngine
	url = https://github.com/will11600/Procedural-Graph-Unity.git
